@font-face {
  font-family: "Nunito";
  src: url("./../utilities/fonts/nunito.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Italic";
  src: url("./../utilities/fonts/nunito-italic.ttf") format("truetype");
}
body {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variation-settings: "wght" 400;
}

h1, h2, h3, h4, h5, h6 {
  font-variation-settings: "wght" 500;
}

button, input, optgroup, select, textarea, option {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

strong, b {
  font-variation-settings: "wght" 700;
}

.icon-big {
  font-size: 2.5rem;
}

/*** Colors ***/
/****************/
/********* Buttons **************/
.btn-secondary {
  background-color: #e2e3e5;
  color: #293042;
  border-color: #e2e3e5;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #bdbfc4;
  color: #293042;
  border-color: #bdbfc4;
}
.btn-secondary:active {
  background-color: #a1a4ac;
  color: #293042;
  border-color: #a1a4ac;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(237, 238, 241, 0.5);
}

.btn-success {
  background-color: #46b450;
  color: #f7f9fc;
  border-color: #46b450;
}
.btn-success:hover, .btn-success:focus {
  background-color: #409a4d;
  color: #f7f9fc;
  border-color: #409a4d;
}
.btn-success:active {
  background-color: #3c864b;
  color: #f7f9fc;
  border-color: #3c864b;
}
.btn-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(159, 215, 166, 0.5);
}

.btn-danger {
  background-color: #dc3232;
  color: #f7f9fc;
  border-color: #dc3232;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #b83235;
  color: #f7f9fc;
  border-color: #b83235;
}
.btn-danger:active {
  background-color: #9d3138;
  color: #f7f9fc;
  border-color: #9d3138;
}
.btn-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(234, 150, 151, 0.5);
}

.btn-warning {
  background-color: #ffb900;
  color: #293042;
  border-color: #ffb900;
}
.btn-warning:hover, .btn-warning:focus {
  background-color: #d49e0d;
  color: #293042;
  border-color: #d49e0d;
}
.btn-warning:active {
  background-color: #b48917;
  color: #293042;
  border-color: #b48917;
}
.btn-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(251, 217, 126, 0.5);
}

.btn-info {
  background-color: #00B7C3;
  color: #f7f9fc;
  border-color: #00B7C3;
}
.btn-info:hover, .btn-info:focus {
  background-color: #089ca9;
  color: #f7f9fc;
  border-color: #089ca9;
}
.btn-info:active {
  background-color: #0e8896;
  color: #f7f9fc;
  border-color: #0e8896;
}
.btn-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(124, 216, 224, 0.5);
}

.btn-light {
  background-color: #f7f9fc;
  color: #293042;
  border-color: #f7f9fc;
}
.btn-light:hover, .btn-light:focus {
  background-color: #ced1d7;
  color: #293042;
  border-color: #ced1d7;
}
.btn-light:active {
  background-color: #afb3bb;
  color: #293042;
  border-color: #afb3bb;
}
.btn-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(247, 249, 252, 0.5);
}

.btn-dark {
  background-color: #293042;
  color: #f7f9fc;
  border-color: #293042;
}
.btn-dark:hover, .btn-dark:focus {
  background-color: #293042;
  color: #f7f9fc;
  border-color: #293042;
}
.btn-dark:active {
  background-color: #293042;
  color: #f7f9fc;
  border-color: #293042;
}
.btn-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(144, 149, 159, 0.5);
}

/******* Buttons Outline *****************/
.btn-outline-secondary {
  color: #e2e3e5;
  border-color: #e2e3e5;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  color: #293042;
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(226, 227, 229, 0.5);
}

.btn-outline-success {
  color: #46b450;
  border-color: #46b450;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
  color: #f7f9fc;
  background-color: #46b450;
  border-color: #46b450;
}
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(70, 180, 80, 0.5);
}

.btn-outline-warning {
  color: #ffb900;
  border-color: #ffb900;
}
.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
  color: #293042;
  background-color: #ffb900;
  border-color: #ffb900;
}
.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 185, 0, 0.5);
}

.btn-outline-danger {
  color: #dc3232;
  border-color: #dc3232;
}
.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
  color: #f7f9fc;
  background-color: #dc3232;
  border-color: #dc3232;
}
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 50, 50, 0.5);
}

.btn-outline-info {
  color: #00B7C3;
  border-color: #00B7C3;
}
.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
  color: #f7f9fc;
  background-color: #00B7C3;
  border-color: #00B7C3;
}
.btn-outline-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 183, 195, 0.5);
}

.btn-outline-light {
  color: #f7f9fc;
  border-color: #f7f9fc;
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active {
  color: #293042;
  background-color: #f7f9fc;
  border-color: #f7f9fc;
}
.btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(247, 249, 252, 0.5);
}

.btn-outline-dark {
  color: #293042;
  border-color: #293042;
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active {
  color: #f7f9fc;
  background-color: #293042;
  border-color: #293042;
}
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(41, 48, 66, 0.5);
}

.alert {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
}

.alert-link:hover {
  text-decoration: none;
}

.alert-secondary {
  background-color: #e2e3e5;
  color: #293042;
}
.alert-secondary .alert-link {
  color: #293042;
}

.alert-success {
  background-color: #46b450;
  color: #f7f9fc;
}
.alert-success .alert-link {
  color: #f7f9fc;
}
.alert-success .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.alert-warning {
  background-color: #ffb900;
  color: #293042;
}
.alert-warning .alert-link {
  color: #293042;
}

.alert-danger {
  background-color: #dc3232;
  color: #f7f9fc;
}
.alert-danger .alert-link {
  color: #f7f9fc;
}
.alert-danger .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.alert-info {
  background-color: #00B7C3;
  color: #f7f9fc;
}
.alert-info .alert-link {
  color: #f7f9fc;
}
.alert-info .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.alert-light {
  background-color: #f7f9fc;
  color: #293042;
}
.alert-light .alert-link {
  color: #293042;
}

.alert-dark {
  background-color: #293042;
  color: #f7f9fc;
}
.alert-dark .alert-link {
  color: #f7f9fc;
}
.alert-dark .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

/*********** Color-Suffix-Classes *********/
.text-bg-primary {
  background-color: #0079D5 !important;
  color: #f7f9fc !important;
}

.text-bg-secondary {
  background-color: #e2e3e5 !important;
  color: #293042 !important;
}

.text-bg-success {
  background-color: #46b450 !important;
  color: #f7f9fc !important;
}

.text-bg-warning {
  background-color: #ffb900 !important;
  color: #293042 !important;
}

.text-bg-danger {
  background-color: #dc3232 !important;
  color: #f7f9fc !important;
}

.text-bg-info {
  background-color: #00B7C3 !important;
  color: #f7f9fc !important;
}

.text-bg-light {
  background-color: #f7f9fc !important;
  color: #293042 !important;
}

.text-bg-dark {
  background-color: #293042 !important;
  color: #f7f9fc !important;
}

.text-primary {
  color: #0079D5 !important;
}

.text-secondary {
  color: #e2e3e5 !important;
}

.text-success {
  color: #46b450 !important;
}

.text-warning {
  color: #ffb900 !important;
}

.text-danger {
  color: #dc3232 !important;
}

.text-info {
  color: #00B7C3 !important;
}

.text-light {
  color: #f7f9fc !important;
}

.text-dark {
  color: #293042 !important;
}

.link-secondary {
  color: #e2e3e5 !important;
}

.link-success {
  color: #46b450 !important;
}

.link-warning {
  color: #ffb900 !important;
}

.link-danger {
  color: #dc3232 !important;
}

.link-info {
  color: #00B7C3 !important;
}

.link-light {
  color: #f7f9fc !important;
}

.link-dark {
  color: #293042 !important;
}

.bg-primary {
  background-color: #0079D5 !important;
}

.bg-secondary {
  background-color: #e2e3e5 !important;
}

.bg-success {
  background-color: #46b450 !important;
}

.bg-warning {
  background-color: #ffb900 !important;
}

.bg-danger {
  background-color: #dc3232 !important;
}

.bg-info {
  background-color: #00B7C3 !important;
}

.bg-light {
  background-color: #f7f9fc !important;
}

.bg-dark {
  background-color: #293042 !important;
}

.border-primary {
  border-color: #0079D5 !important;
}

.border-secondary {
  border-color: #e2e3e5 !important;
}

.border-success {
  border-color: #46b450 !important;
}

.border-warning {
  border-color: #ffb900 !important;
}

.border-danger {
  border-color: #dc3232 !important;
}

.border-info {
  border-color: #00B7C3 !important;
}

.border-light {
  border-color: #f7f9fc !important;
}

.border-dark {
  border-color: #293042 !important;
}

.app-link {
  text-decoration: none;
}
.app-link .app-item {
  border: 1px solid transparent;
  padding: 0.7rem;
  border-radius: 0.375rem;
  display: flex;
}
.app-link .app-item:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
  transition: border-color 0.167s linear, box-shadow 0.167s linear;
}
.app-link .app-item * {
  float: left;
}
.app-link .app-item i {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}
.app-link .app-item .title {
  font-variation-settings: "wght" 600;
}

#login-pwstack {
  background: url(../utilities/bg-login-pwstack.jpg) no-repeat fixed center center;
}

.pw-row {
  padding: 1rem 0;
  border-radius: 8px;
}
.pw-row:hover, .pw-row:active {
  background-color: #deecf8;
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
}
.pw-row .role-icon {
  font-size: 24px;
  opacity: 0.6;
  text-align: center;
  color: #0079D5;
}
.pw-row .role-icon i {
  vertical-align: middle;
}
.pw-row .info-text .username {
  font-variation-settings: "wght" 700;
}
.pw-row .info-text .username a {
  text-decoration: none;
  color: #0079D5;
}
.pw-row .info-text .username a:hover {
  color: #086ab8;
  text-decoration: underline;
}
.pw-row .info-text .name {
  opacity: 0.6;
  font-size: 80%;
}
.pw-row .input-password {
  width: calc(100% - 20px);
  display: table-cell;
}
.pw-row .eye-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
}
.pw-row .eye-toggle:hover {
  color: #0079D5;
}

.otp-input-fields {
  display: flex;
  flex-direction: row;
}
.otp-input-fields input {
  margin-right: 1rem;
  text-align: center;
}
.otp-input-fields input:last-child {
  margin-right: 0;
}
.otp-input-fields input:focus {
  color: #0079D5;
}

.badge.text-bg-cockpit {
  color: #f7f9fc !important;
  background-color: #0079D5 !important;
}
.badge.text-bg-finance {
  color: #f7f9fc !important;
  background-color: #83060B !important;
}
.badge.text-bg-hures {
  color: #f7f9fc !important;
  background-color: #03860F !important;
}
.badge.text-bg-trader {
  color: #293042 !important;
  background-color: #f8a711 !important;
}
.badge.text-bg-companydata {
  color: #f7f9fc !important;
  background-color: #007388 !important;
}
.badge.text-bg-intranet {
  color: #f49900 !important;
  background-color: #293042 !important;
}

#headingNewRole .accordion-button, #headingExistingRoles .accordion-button {
  font-variation-settings: "wght" 600;
}
#headingNewRole .accordion-button.collapsed, #headingExistingRoles .accordion-button.collapsed {
  color: #0079D5;
}

.input-table a {
  text-decoration: none;
  color: #0079D5;
}
.input-table a:hover {
  color: #086ab8;
  text-decoration: underline;
}
.input-table *.form-text {
  margin-left: 1em;
  color: rgba(41, 48, 66, 0.5);
}

.row-labels, .row-inputs input {
  width: 48%;
  float: left;
}

.btn-outline-wp {
  color: #32373c;
  border-color: #32373c;
}
.btn-outline-wp:hover, .btn-outline-wp:focus, .btn-outline-wp:active {
  color: #f7f9fc;
  background-color: #32373c;
  border-color: #32373c;
}
.btn-outline-wp:focus {
  box-shadow: 0 0 0 0.25rem rgba(50, 55, 60, 0.5);
}

#illustration404 {
  width: 50%;
}

#illustration403 {
  width: 30%;
}

.error-heading {
  font-variation-settings: "wght" 600;
}

.error-description {
  font-variation-settings: "wght" 300;
}

.bg-cockpit {
  background-color: #0079D5;
  color: #f7f9fc;
}

body .btn-primary {
  background-color: #0079D5;
  color: #f7f9fc;
  border-color: #0079D5;
}
body .btn-primary:hover, body .btn-primary:focus {
  background-color: #086ab8;
  color: #f7f9fc;
  border-color: #086ab8;
}
body .btn-primary:active {
  background-color: #0e5fa2;
  color: #f7f9fc;
  border-color: #0e5fa2;
}
body .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(124, 185, 233, 0.5);
}
body .btn-outline-primary {
  color: #0079D5;
  border-color: #0079D5;
}
body .btn-outline-primary:hover, body .btn-outline-primary:focus, body .btn-outline-primary:active {
  color: #f7f9fc;
  background-color: #0079D5;
  border-color: #0079D5;
}
body .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 121, 213, 0.5);
}
body .form-select:focus, body .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(62, 153, 223, 0.25);
  border-color: rgba(62, 153, 223, 0.5);
}
body .accordion-button:not(.collapsed) {
  color: #0e5fa2;
  background-color: #deecf8;
}
body .accordion-button:not(.collapsed):focus {
  border-color: #d2e6f6;
  box-shadow: 0 0 0 0.25rem rgba(0, 121, 213, 0.25);
}
body .link-btn-primary {
  color: #0079D5;
}
body .link-btn-primary:hover {
  background-color: #deecf8;
  color: #086ab8;
}
body .link-btn-primary:active, body .link-btn-primary.active {
  background-color: #deecf8;
  color: #0079D5;
  border: 1px solid #0079D5;
  font-variation-settings: "wght" 600;
}
body .link-btn-secondary {
  color: #e2e3e5;
}
body .link-btn-secondary:hover {
  background-color: #f5f7fa;
  color: #bdbfc4;
}
body .link-btn-danger {
  color: #dc3232;
}
body .link-btn-danger:hover {
  background-color: #f4e5e8;
  color: #b83235;
}
body .dropdown-menu-dark {
  background-color: #0079D5;
}
body h2 .breadcrumb li a {
  color: #0079D5;
}
body h2 .breadcrumb li a:hover {
  color: #086ab8;
}
body .table thead {
  color: #0079D5;
  background-color: #deecf8;
}
body .alert-primary {
  color: #f7f9fc;
  background-color: #0079D5;
}
body .alert-primary .alert-link {
  color: #f7f9fc;
}
body .alert-primary .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

table a {
  text-decoration: none;
  color: #0079D5;
}
table a:hover {
  color: #086ab8;
  text-decoration: underline;
}

/*# sourceMappingURL=cockpit.css.map */
