.text-primary {
  color: #0079D5 !important;
}

@font-face {
  font-family: "Nunito";
  src: url("./../utilities/fonts/nunito.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Italic";
  src: url("./../utilities/fonts/nunito-italic.ttf") format("truetype");
}
body {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variation-settings: "wght" 400;
}

h1, h2, h3, h4, h5, h6 {
  font-variation-settings: "wght" 500;
}

button, input, optgroup, select, textarea, option {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

strong, b {
  font-variation-settings: "wght" 700;
}

.icon-big {
  font-size: 2.5rem;
}

.app-link {
  text-decoration: none;
}
.app-link .app-item {
  border: 1px solid transparent;
  padding: 0.7rem;
  border-radius: 0.375rem;
  display: flex;
}
.app-link .app-item:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
  transition: border-color 0.167s linear, box-shadow 0.167s linear;
}
.app-link .app-item * {
  float: left;
}
.app-link .app-item i {
  font-size: 1.6rem;
  margin-right: 0.5rem;
}
.app-link .app-item .title {
  font-variation-settings: "wght" 600;
}

#login-pwstack {
  background: url(../utilities/bg-login-pwstack.jpg) no-repeat fixed center center;
}

.pw-row {
  padding: 1rem 0;
  border-radius: 8px;
}
.pw-row:hover, .pw-row:active {
  background-color: #deecf8;
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
}
.pw-row .role-icon {
  font-size: 24px;
  opacity: 0.6;
  text-align: center;
  color: #0079D5;
}
.pw-row .role-icon i {
  vertical-align: middle;
}
.pw-row .info-text .username {
  font-variation-settings: "wght" 700;
}
.pw-row .info-text .username a {
  text-decoration: none;
  color: #0079D5;
}
.pw-row .info-text .username a:hover {
  color: #086ab8;
  text-decoration: underline;
}
.pw-row .info-text .name {
  opacity: 0.6;
  font-size: 80%;
}
.pw-row .input-password {
  width: calc(100% - 20px);
  display: table-cell;
}
.pw-row .eye-toggle {
  background-color: transparent;
  border: none;
  padding: 0;
}
.pw-row .eye-toggle:hover {
  color: #0079D5;
}

.otp-input-fields {
  display: flex;
  flex-direction: row;
}
.otp-input-fields input {
  margin-right: 1rem;
  text-align: center;
}
.otp-input-fields input:last-child {
  margin-right: 0;
}
.otp-input-fields input:focus {
  color: #0079D5;
}

.badge.text-bg-cockpit {
  color: #f7f9fc !important;
  background-color: #0079D5 !important;
}
.badge.text-bg-finance {
  color: #f7f9fc !important;
  background-color: #83060B !important;
}
.badge.text-bg-hures {
  color: #f7f9fc !important;
  background-color: #03860F !important;
}
.badge.text-bg-trader {
  color: #293042 !important;
  background-color: #f8a711 !important;
}
.badge.text-bg-companydata {
  color: #f7f9fc !important;
  background-color: #007388 !important;
}
.badge.text-bg-intranet {
  color: #f49900 !important;
  background-color: #293042 !important;
}

#headingNewRole .accordion-button, #headingExistingRoles .accordion-button {
  font-variation-settings: "wght" 600;
}
#headingNewRole .accordion-button.collapsed, #headingExistingRoles .accordion-button.collapsed {
  color: #0079D5;
}

.input-table a {
  text-decoration: none;
  color: #0079D5;
}
.input-table a:hover {
  color: #086ab8;
  text-decoration: underline;
}
.input-table *.form-text {
  margin-left: 1em;
  color: rgba(41, 48, 66, 0.5);
}

.row-labels, .row-inputs input {
  width: 48%;
  float: left;
}

.btn-outline-wp {
  color: #32373c;
  border-color: #32373c;
}
.btn-outline-wp:hover, .btn-outline-wp:focus, .btn-outline-wp:active {
  color: #f7f9fc;
  background-color: #32373c;
  border-color: #32373c;
}
.btn-outline-wp:focus {
  box-shadow: 0 0 0 0.25rem rgba(50, 55, 60, 0.5);
}

.bg-cockpit {
  background-color: #0079D5;
  color: #f7f9fc;
}

body .btn-primary {
  background-color: #0079D5;
  color: #f7f9fc;
  border-color: #0079D5;
}
body .btn-primary:hover, body .btn-primary:focus {
  background-color: #086ab8;
  color: #f7f9fc;
  border-color: #086ab8;
}
body .btn-primary:active {
  background-color: #0e5fa2;
  color: #f7f9fc;
  border-color: #0e5fa2;
}
body .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(124, 185, 233, 0.5);
}
body .btn-outline-primary {
  color: #0079D5;
  border-color: #0079D5;
}
body .btn-outline-primary:hover, body .btn-outline-primary:focus, body .btn-outline-primary:active {
  color: #f7f9fc;
  background-color: #0079D5;
  border-color: #0079D5;
}
body .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 121, 213, 0.5);
}
body .form-select:focus, body .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(62, 153, 223, 0.25);
  border-color: rgba(62, 153, 223, 0.5);
}
body .accordion-button:not(.collapsed) {
  color: #0e5fa2;
  background-color: #deecf8;
}
body .accordion-button:not(.collapsed):focus {
  border-color: #d2e6f6;
  box-shadow: 0 0 0 0.25rem rgba(0, 121, 213, 0.25);
}
body .link-btn-primary {
  color: #0079D5;
}
body .link-btn-primary:hover {
  background-color: #deecf8;
  color: #086ab8;
}
body .link-btn-primary:active, body .link-btn-primary.active {
  background-color: #deecf8;
  color: #0079D5;
  border: 1px solid #0079D5;
  font-variation-settings: "wght" 600;
}
body .link-btn-secondary {
  color: #5D656C;
}
body .link-btn-secondary:hover {
  background-color: #e8eaee;
  color: #535a64;
}
body .link-btn-danger {
  color: #DC3545;
}
body .link-btn-danger:hover {
  background-color: #f4e5ea;
  color: #b83444;
}
body .dropdown-menu-dark {
  background-color: #0079D5;
}
body h2 .breadcrumb li a {
  color: #0079D5;
}
body h2 .breadcrumb li a:hover {
  color: #086ab8;
}
body .table thead {
  color: #0079D5;
  background-color: #deecf8;
}

table a {
  text-decoration: none;
  color: #0079D5;
}
table a:hover {
  color: #086ab8;
  text-decoration: underline;
}

/*# sourceMappingURL=cockpit.css.map */
