@font-face {
  font-family: "Nunito";
  src: url("./../utilities/fonts/nunito.ttf") format("truetype");
}
@font-face {
  font-family: "Nunito Italic";
  src: url("./../utilities/fonts/nunito-italic.ttf") format("truetype");
}
body {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-variation-settings: "wght" 400;
}

h1, h2, h3, h4, h5, h6 {
  font-variation-settings: "wght" 500;
}

button, input, optgroup, select, textarea, option {
  font-family: "Nunito", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

strong, b {
  font-variation-settings: "wght" 700;
}

.icon-big {
  font-size: 2.5rem;
}

/*** Colors ***/
/****************/
/********* Buttons **************/
.btn-secondary {
  background-color: #e2e3e5;
  color: #293042;
  border-color: #e2e3e5;
}
.btn-secondary:hover, .btn-secondary:focus {
  background-color: #bdbfc4;
  color: #293042;
  border-color: #bdbfc4;
}
.btn-secondary:active {
  background-color: #a1a4ac;
  color: #293042;
  border-color: #a1a4ac;
}
.btn-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(229, 235, 240, 0.5);
}

.btn-success {
  background-color: #46b450;
  color: #e8f3fb;
  border-color: #46b450;
}
.btn-success:hover, .btn-success:focus {
  background-color: #409a4d;
  color: #e8f3fb;
  border-color: #409a4d;
}
.btn-success:active {
  background-color: #3c864b;
  color: #e8f3fb;
  border-color: #3c864b;
}
.btn-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(151, 212, 166, 0.5);
}

.btn-danger {
  background-color: #dc3232;
  color: #e8f3fb;
  border-color: #dc3232;
}
.btn-danger:hover, .btn-danger:focus {
  background-color: #b83235;
  color: #e8f3fb;
  border-color: #b83235;
}
.btn-danger:active {
  background-color: #9d3138;
  color: #e8f3fb;
  border-color: #9d3138;
}
.btn-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(226, 147, 151, 0.5);
}

.btn-warning {
  background-color: #ffb900;
  color: #293042;
  border-color: #ffb900;
}
.btn-warning:hover, .btn-warning:focus {
  background-color: #d49e0d;
  color: #293042;
  border-color: #d49e0d;
}
.btn-warning:active {
  background-color: #b48917;
  color: #293042;
  border-color: #b48917;
}
.btn-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(244, 214, 126, 0.5);
}

.btn-info {
  background-color: #00B7C3;
  color: #e8f3fb;
  border-color: #00B7C3;
}
.btn-info:hover, .btn-info:focus {
  background-color: #089ca9;
  color: #e8f3fb;
  border-color: #089ca9;
}
.btn-info:active {
  background-color: #0e8896;
  color: #e8f3fb;
  border-color: #0e8896;
}
.btn-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(116, 213, 223, 0.5);
}

.btn-light {
  background-color: #f7f9fc;
  color: #293042;
  border-color: #f7f9fc;
}
.btn-light:hover, .btn-light:focus {
  background-color: #ced1d7;
  color: #293042;
  border-color: #ced1d7;
}
.btn-light:active {
  background-color: #afb3bb;
  color: #293042;
  border-color: #afb3bb;
}
.btn-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(240, 246, 252, 0.5);
}

.btn-dark {
  background-color: #293042;
  color: #e8f3fb;
  border-color: #293042;
}
.btn-dark:hover, .btn-dark:focus {
  background-color: #293042;
  color: #e8f3fb;
  border-color: #293042;
}
.btn-dark:active {
  background-color: #293042;
  color: #e8f3fb;
  border-color: #293042;
}
.btn-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(137, 146, 159, 0.5);
}

/******* Buttons Outline *****************/
.btn-outline-secondary {
  color: #e2e3e5;
  border-color: #e2e3e5;
}
.btn-outline-secondary:hover, .btn-outline-secondary:focus, .btn-outline-secondary:active {
  color: #293042;
  background-color: #e2e3e5;
  border-color: #e2e3e5;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.25rem rgba(226, 227, 229, 0.5);
}

.btn-outline-success {
  color: #46b450;
  border-color: #46b450;
}
.btn-outline-success:hover, .btn-outline-success:focus, .btn-outline-success:active {
  color: #e8f3fb;
  background-color: #46b450;
  border-color: #46b450;
}
.btn-outline-success:focus {
  box-shadow: 0 0 0 0.25rem rgba(70, 180, 80, 0.5);
}

.btn-outline-warning {
  color: #ffb900;
  border-color: #ffb900;
}
.btn-outline-warning:hover, .btn-outline-warning:focus, .btn-outline-warning:active {
  color: #293042;
  background-color: #ffb900;
  border-color: #ffb900;
}
.btn-outline-warning:focus {
  box-shadow: 0 0 0 0.25rem rgba(255, 185, 0, 0.5);
}

.btn-outline-danger {
  color: #dc3232;
  border-color: #dc3232;
}
.btn-outline-danger:hover, .btn-outline-danger:focus, .btn-outline-danger:active {
  color: #e8f3fb;
  background-color: #dc3232;
  border-color: #dc3232;
}
.btn-outline-danger:focus {
  box-shadow: 0 0 0 0.25rem rgba(220, 50, 50, 0.5);
}

.btn-outline-info {
  color: #00B7C3;
  border-color: #00B7C3;
}
.btn-outline-info:hover, .btn-outline-info:focus, .btn-outline-info:active {
  color: #e8f3fb;
  background-color: #00B7C3;
  border-color: #00B7C3;
}
.btn-outline-info:focus {
  box-shadow: 0 0 0 0.25rem rgba(0, 183, 195, 0.5);
}

.btn-outline-light {
  color: #f7f9fc;
  border-color: #f7f9fc;
}
.btn-outline-light:hover, .btn-outline-light:focus, .btn-outline-light:active {
  color: #293042;
  background-color: #f7f9fc;
  border-color: #f7f9fc;
}
.btn-outline-light:focus {
  box-shadow: 0 0 0 0.25rem rgba(247, 249, 252, 0.5);
}

.btn-outline-dark {
  color: #293042;
  border-color: #293042;
}
.btn-outline-dark:hover, .btn-outline-dark:focus, .btn-outline-dark:active {
  color: #e8f3fb;
  background-color: #293042;
  border-color: #293042;
}
.btn-outline-dark:focus {
  box-shadow: 0 0 0 0.25rem rgba(41, 48, 66, 0.5);
}

/******** Link Buttons ************************/
.link-btn {
  display: inline-block;
  min-width: 6rem;
  text-decoration: none;
  padding: 0.7rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
}
.link-btn:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
  transition: border-color 0.167s linear, box-shadow 0.167s linear;
}

.link-btn-sm {
  display: inline-block;
  text-decoration: none;
  padding: 0.2rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
}
.link-btn-sm:hover {
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
  transition: border-color 0.167s linear, box-shadow 0.167s linear;
}

.link-btn-primary {
  color: #e8f3fb;
}
.link-btn-primary:hover {
  background-color: #e8f3fb;
  color: #c2ccd6;
}

.link-btn-secondary {
  color: #e2e3e5;
}
.link-btn-secondary:hover {
  background-color: #e7f1f9;
  color: #bdbfc4;
}

.link-btn-success {
  color: #46b450;
}
.link-btn-success:hover {
  background-color: #d8edea;
  color: #409a4d;
}

.link-btn-warning {
  color: #ffb900;
}
.link-btn-warning:hover {
  background-color: #eaede2;
  color: #d49e0d;
}

.link-btn-danger {
  color: #dc3232;
}
.link-btn-danger:hover {
  background-color: #e7e0e7;
  color: #b83235;
}

.link-btn-info {
  color: #00B7C3;
}
.link-btn-info:hover {
  background-color: #d1edf5;
  color: #089ca9;
}

.link-btn-light {
  color: #f7f9fc;
}
.link-btn-light:hover {
  background-color: #eaf4fb;
  color: #ced1d7;
}

.link-btn-dark {
  color: #293042;
}
.link-btn-dark:hover {
  background-color: #d5e0e9;
  color: #293042;
}

.alert {
  border: none;
  box-shadow: 0 0.125rem 0.25rem rgba(41, 48, 66, 0.075);
}

.alert-link:hover {
  text-decoration: none;
}

.alert-secondary {
  background-color: #e2e3e5;
  color: #293042;
}
.alert-secondary .alert-link {
  color: #293042;
}

.alert-success {
  background-color: #46b450;
  color: #e8f3fb;
}
.alert-success .alert-link {
  color: #e8f3fb;
}
.alert-success .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.alert-warning {
  background-color: #ffb900;
  color: #293042;
}
.alert-warning .alert-link {
  color: #293042;
}

.alert-danger {
  background-color: #dc3232;
  color: #e8f3fb;
}
.alert-danger .alert-link {
  color: #e8f3fb;
}
.alert-danger .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.alert-info {
  background-color: #00B7C3;
  color: #e8f3fb;
}
.alert-info .alert-link {
  color: #e8f3fb;
}
.alert-info .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

.alert-light {
  background-color: #f7f9fc;
  color: #293042;
}
.alert-light .alert-link {
  color: #293042;
}

.alert-dark {
  background-color: #293042;
  color: #e8f3fb;
}
.alert-dark .alert-link {
  color: #e8f3fb;
}
.alert-dark .btn-close {
  filter: invert(1) grayscale(100%) brightness(200%);
}

/*********** Color-Suffix-Classes *********/
.text-bg-primary {
  background-color: #83060B !important;
  color: #e8f3fb !important;
}

.text-bg-secondary {
  background-color: #e2e3e5 !important;
  color: #293042 !important;
}

.text-bg-success {
  background-color: #46b450 !important;
  color: #f7f9fc !important;
}

.text-bg-warning {
  background-color: #ffb900 !important;
  color: #293042 !important;
}

.text-bg-danger {
  background-color: #dc3232 !important;
  color: #f7f9fc !important;
}

.text-bg-info {
  background-color: #00B7C3 !important;
  color: #f7f9fc !important;
}

.text-bg-light {
  background-color: #f7f9fc !important;
  color: #293042 !important;
}

.text-bg-dark {
  background-color: #293042 !important;
  color: #f7f9fc !important;
}

.text-primary {
  color: #83060B !important;
}

.text-secondary {
  color: #e2e3e5 !important;
}

.text-success {
  color: #46b450 !important;
}

.text-warning {
  color: #ffb900 !important;
}

.text-danger {
  color: #dc3232 !important;
}

.text-info {
  color: #00B7C3 !important;
}

.text-light {
  color: #f7f9fc !important;
}

.text-dark {
  color: #293042 !important;
}

.link-secondary {
  color: #e2e3e5 !important;
}

.link-success {
  color: #46b450 !important;
}

.link-warning {
  color: #ffb900 !important;
}

.link-danger {
  color: #dc3232 !important;
}

.link-info {
  color: #00B7C3 !important;
}

.link-light {
  color: #f7f9fc !important;
}

.link-dark {
  color: #293042 !important;
}

.bg-primary {
  background-color: #83060B !important;
}

.bg-secondary {
  background-color: #e2e3e5 !important;
}

.bg-success {
  background-color: #46b450 !important;
}

.bg-warning {
  background-color: #ffb900 !important;
}

.bg-danger {
  background-color: #dc3232 !important;
}

.bg-info {
  background-color: #00B7C3 !important;
}

.bg-light {
  background-color: #f7f9fc !important;
}

.bg-dark {
  background-color: #293042 !important;
}

.border-primary {
  border-color: #83060B !important;
}

.border-secondary {
  border-color: #e2e3e5 !important;
}

.border-success {
  border-color: #46b450 !important;
}

.border-warning {
  border-color: #ffb900 !important;
}

.border-danger {
  border-color: #dc3232 !important;
}

.border-info {
  border-color: #00B7C3 !important;
}

.border-light {
  border-color: #f7f9fc !important;
}

.border-dark {
  border-color: #293042 !important;
}

.bg-finance {
  background-color: #83060B;
  color: #e8f3fb;
}

body .btn-primary {
  background-color: #83060B;
  color: #e8f3fb;
  border-color: #83060B;
}
body .btn-primary:hover, body .btn-primary:focus {
  background-color: #710e16;
  color: #e8f3fb;
  border-color: #710e16;
}
body .btn-primary:active {
  background-color: #64151e;
  color: #e8f3fb;
  border-color: #64151e;
}
body .btn-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(182, 125, 131, 0.5);
}
body .btn-outline-primary {
  color: #83060B;
  border-color: #83060B;
}
body .btn-outline-primary:hover, body .btn-outline-primary:focus, body .btn-outline-primary:active {
  color: #e8f3fb;
  background-color: #83060B;
  border-color: #83060B;
}
body .btn-outline-primary:focus {
  box-shadow: 0 0 0 0.25rem rgba(131, 6, 11, 0.5);
}
body .form-select, body .form-control {
  background-color: #e8f3fb;
}
body .form-select:focus, body .form-control:focus {
  box-shadow: 0 0 0 0.25rem rgba(156, 65, 71, 0.25);
  border-color: rgba(156, 65, 71, 0.5);
}
body .dropdown-menu-dark {
  background-color: #83060B;
}
body h2 .breadcrumb li a {
  color: #83060B;
}
body h2 .breadcrumb li a:hover {
  color: #710e16;
}
body .table thead {
  color: #83060B;
  background-color: #dedbe3;
}

table a {
  text-decoration: none;
  color: #83060B;
}
table a:hover {
  color: #710e16;
  text-decoration: underline;
}

.filter-list .row > div:not(:last-of-type) {
  padding-right: 0;
}
.filter-list .row > button {
  padding-left: 0;
  padding-right: 0;
  margin-right: 0.75rem;
}

/*# sourceMappingURL=finance.css.map */
