@mixin bs-forms($color)
    .form-select, .form-control
        &:focus
            box-shadow: 0 0 0 .25rem rgba(mix($color, white, 75%), .25)
            border-color: rgba(mix($color, white, 75%), .50)

@mixin bs-btn-primary ($primary, $color)
    .btn-primary
        background-color: $primary
        color: $color
        border-color: $primary

        &:hover, &:focus
            background-color: mix($primary, black, 80%)
            color: $color
            border-color: mix($primary, black, 80%)

        &:active
            background-color: mix($primary, black, 65%)
            color: $color
            border-color: mix($primary, black, 65%)
        
        &:focus
            box-shadow: 0 0 0 0.25rem rgba(mix($primary, white, 50%), .5)

@mixin bs-btn-outline-primary($primary, $color)
    .btn-outline-primary
        color: $primary
        border-color: $primary

        &:hover, &:focus, &:active
            color: $color
            background-color: $primary
            border-color: $primary
        
        &:focus
            box-shadow: 0 0 0 0.25rem rgba($primary, .5)

.text-primary
    color: $primary !important