@media ( min-width: 1200px )
    .wrapper
        max-width: 77% !important

@media ( min-width: 992px )
    .wrapper
        max-width: 90%

.wrapper
    margin-top: 5rem
    padding: 1rem
    border-radius: $border-radius
    width: 100%

.salutation
    text-align: center
    padding: 3rem 0
    border-radius: $border-radius
    background-size: cover
    font-variation-settings: $wght-sbold

    &.morning
        background: url(../utilities/salutation-bg-morning.png) no-repeat
        color: $black
        background-color: #D33297
    &.day
        background: url(../utilities/salutation-bg-day.png) no-repeat
        color: $black
        background-color: #01A7AE
    &.night
        background: url(../utilities/salutation-bg-night.png) no-repeat
        color: $white
        background-color: #422A99
        

h2
    .breadcrumb li, .breadcrumb li.active
        color: $black

        a
            text-decoration: none

.breadcrumb > .beradcrumb-item.active, .breadcrumb > .breadcrumb-item
    &::before
        content: "\203A"
        color: #ccc
        font-variation-settings: $wght-xlight

    &:first-child::before
        content: ""

.table
    thead
        font-variation-settings: $wght-sbold

    td
        vertical-align: middle