$nunito: 'Nunito'
$font-fallback: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif

@font-face 
    font-family: $nunito
    src: url("./../utilities/fonts/nunito.ttf") format("truetype")

body
    font-family: $nunito, $font-fallback