#login-pwstack
    background: url(../utilities/bg-login-pwstack.jpg) no-repeat fixed center center

.pw-row
    padding: 1rem 0
    border-radius: $border-radius

    &:hover, &:active
        background-color: mix($primary, $white, 10%)
        box-shadow: $box-shadow-sm

    .role-icon
        font-size: 24px
        opacity: .6
        text-align: center
        color: $primary
        i
            vertical-align: middle

    .info-text
        .username
            font-variation-settings: $wght-bold
            @include LinkAlone($primary)
        
        .name
            opacity: .6
            font-size: 80%

    
    .input-password
        width: calc( 100% - 20px )
        display: table-cell

    .eye-toggle
        background-color: transparent
        border: none
        padding: 0

        &:hover
            color: $primary

.otp-input-fields
    display: flex
    flex-direction: row

    input
        margin-right: 1rem
        text-align: center
        &:last-child
            margin-right: 0

        &:focus
            color: $primary

.badge
    &.text-bg-cockpit
        color: $white !important
        background-color: #0079D5 !important   
    &.text-bg-finance
        color: $white !important
        background-color: #83060B !important
    &.text-bg-hures
        color: $white !important
        background-color: #03860F !important
    &.text-bg-trader
        color: $black !important
        background-color: #f8a711 !important
    &.text-bg-companydata
        color: $white !important
        background-color: #007388 !important
    &.text-bg-intranet
        color: #f49900 !important
        background-color: $black !important

#headingNewRole, #headingExistingRoles
    .accordion-button
        font-variation-settings: $wght-sbold

    .accordion-button.collapsed
        color: $primary

.input-table
    @include LinkAlone ($color: $primary)

    *.form-text
        margin-left: 1em
        color: rgba($black, 0.5)

.row-labels, .row-inputs input
    width: 48%
    float: left

.btn-outline-wp
        color: #32373c
        border-color: #32373c

        &:hover, &:focus, &:active
            color: $white
            background-color: #32373c
            border-color: #32373c
        
        &:focus
            box-shadow: 0 0 0 0.25rem rgba(#32373c, .5)